<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FolderSecure" value="SecureBinCore.Engine.FolderSecure.SecureFolder, SecureBinCore"/>
    <add key="FileSecure" value="SecureBinCore.Engine.FileSecure.SecureFile, SecureBinCore"/>
    <add key="UI" value="SecureBinCore.UI.UiSystem, SecureBinCore"/>
    <add key="SecureBinTemporaryExtension" value="STF"/>
    <add key ="AllEntityLocation" value="Secure\"/>
    <add key="SettingsDirectory" value="Settings\"/>
    <add key="LoginCredentilsFile" value="Login Credentials.ini"/>
    <add key="SecureExtension" value="SBN"/>
    <add key ="Version" value="1.0"/>
    <add key ="UI" value="SecureBinCore.UI.UISystem, SecureBinCore"/>
    <add key="Encrypter_Assembly" value="Crypter.Encryption.EncryptManager, Crypter" />
    <add key="Decrypter_Assembly" value="Crypter.Decryption.DecryptManager, Crypter"/>
    <add key="EncryptionFolder" value="Encrypt Folder\"/>
    <add key="DecryptionFolder" value="Decrypt Folder\"/>
    <add key="DeleteSource" value="true"/>
    <add key="ProcessNamespace" value="SecureBinCore.Engine.ProcessManager.StartProcess, SecureBinCore"/>
    
  </appSettings>
</configuration>